<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>DJF</title> --> 
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <section class="hero">
    <h1>Welcome to Discovery in Journey Foundation</h1>
    <p>To empower individuals to discover their purpose, embrace personal growth, and thrive in life’s journey.
    </p>
  </section>

  <div class="summary">
    <p class="homepage-text">
      The Discovery in Journey Foundation (DJF) is dedicated to empowering individuals to discover their purpose and thrive in life's journey. 
      Our mission is built on several core pillars: guiding individuals to find their meaning and direction, supporting underprivileged 
      individuals by fostering a sense of belonging and inclusion, and nurturing children to equip them for life's numerous opportunities. 
      We also strive to cultivate a culture of giving by encouraging acts of charity, no matter how small, and raising awareness about the 
      hidden pain and struggles experienced by individuals across different parts of the world. By working together towards these goals, 
      DJF aims to create a positive impact, promote holistic development, and build a more compassionate and supportive community for all.
    </p>
    <p class="homepage-text">
      Discovery in Journey Foundation (DJF) evolved from a passion to inspire and uplift others through motivational content. 
      Our journey began with a YouTube channel, sharing empowering messages and stories of resilience. 
      As we grew, we recognized the need to expand our impact beyond digital platforms. DJF was established to mobilize resources, 
      foster a culture of giving, and provide support to underprivileged individuals and communities. 
      Our foundation is guided by values of compassion, empathy, and generosity, focusing on initiatives that promote education, 
      mentorship, and self-sufficiency. Through charitable programs and partnerships, DJF aims to make a tangible difference in
      the lives of those we serve, inspiring a ripple effect of kindness and generosity across Africa and beyond.

    </p>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
