<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <section class="hero">
    <h1>Welcome to Discovery in Journey Foundation</h1>
    <p>Your journey to purpose starts here.</p>
  </section>

  <div class="summary">
    <p>
      The Discovery in Journey Foundation (DJF) is dedicated to empowering individuals to discover their purpose and thrive in life's journey. 
      Our mission is built on several core pillars: guiding individuals to find their meaning and direction, supporting underprivileged 
      individuals by fostering a sense of belonging and inclusion, and nurturing children to equip them for life's numerous opportunities. 
      We also strive to cultivate a culture of giving by encouraging acts of charity, no matter how small, and raising awareness about the 
      hidden pain and struggles experienced by individuals across different parts of the world. By working together towards these goals, 
      DJF aims to create a positive impact, promote holistic development, and build a more compassionate and supportive community for all.
    </p>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
