<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <section class="hero">
    <h1>MISSION STATEMENT</h1>
    <p>To empower individuals to discover their purpose, <br>
      embrace personal growth, and thrive in life’s journey</p>
  </section>

  <%- include('partials/footer') %>

</body>
</html>
