<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>DJF</title>
  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>
  <header>
    <nav>
      <div class="logo"><a href="/"><img src="/assets/logo.jpg" alt="DJF Logo"></a></div>
      <ul class="nav-links">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/mission">Mission</a></li>
        <li class="nav-item"><a href="/vision">Vision</a></li>
        <li class="nav-item"><a href="/programs">Programs</a></li>
        <li class="nav-item"><a href="/support">Support</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
